@charset "utf-8";
/* CSS Document */
/*focus element*/
#neighborhoods-select:focus,
#cuisines-select:focus,
.leaflet-control-zoom-in:focus,
.leaflet-control-zoom-out:focus,
.box a:focus
 {
	border: 3px solid red;
	background-color: red;
}

html {
	max-width: 100%;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	/*important to fit in the html*/
	max-width: 100%;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	 border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  /* color: #aaa; */
	color: white;
  font-size: 8pt;
  letter-spacing: 1px;
	padding: 25px 25px 25px 10px; /*top, right, bottom and left*/
  text-align: center;
  text-transform: uppercase;
	position: fixed;
	bottom: 0;
	width: 100%;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 25pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
	line-height: 2.5;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 121px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
		font-size: 15pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8; /*#0275d8; #252831*/
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#map:focus {
	border-style: solid;
	border-color: red;
	width: 99%;
	border-width: 10px 10px 10px 10px;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 100px;
  background-color: #3397DB;
  align-items: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
.filter-options h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.0;
  margin: 0px 20px;
	text-align: center;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 22pt;
  height: 45px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 300px;
}

.selection {
	text-align: center;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 25px 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
.box a {
  background-color: #3397DB; /*#252831; /*orange;*/
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 5;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.box a:hover,
.box a:focus {
	background-color: orange;
	font-size: 11pt;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 20px;
  top: 130px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 15px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 90%;
}
#restaurant-address {
  font-size: 16pt;
  margin: 10px 0px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#restaurant-hours {
  color: black;
	width: 65%;
	margin-left:auto;
	margin-right:auto;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 90%;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: 50%;
}
#reviews-container {
	width: 44%;
}
#breadcrumb a:focus,
#restaurant-name:focus,
#reviews-container:focus,
#restaurant-hours:focus {
	border: 3px solid red;
	/* background-color: red; */
}

#reviews-container {
  padding: 30px 32px 80px;
}
#reviews-container h2 {
  /* color: #f58500; */
	color: black;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  /* border: 2px solid #f3f3f3; */
	border: 2px solid #252831; /*#3397DB;*/
  display: block;
  list-style-type: none;
  margin: 0 0 5px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list p {
 margin: 0 0 0px;
 font-size: 12pt;
 text-align: justify;;

}
#reviews-list h2 {
	color: white;
	background-color: #3397DB;
}

/*Improving the table:*/
tbody tr:nth-child(even) {
  background-color: white;
}

tbody tr:nth-child(odd) {
  background-color: #3397DB;
}
/* WEB RESPONSIVE
 * <<COLUMN DROP>>
 */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px 5px 5px 5px; /*top, right, bottom and left*/
	margin-bottom: 30px;
}

.box {
    max-width: 32.333%;
		border-style: solid;
}

/*This should be write in the end, if not, it does not work*/
/*1600*/
@media screen and (max-width: 1600px) {
	#restaurant-container {
		padding: 130px 5px 5px 28px; /*top, right, bottom and left*/
	}
	#reviews-container {
	  	padding: 5px 0px 5px 0px; /*top, right, bottom and left*/
			text-align: center;
	}
	#reviews-list {
		padding: 5px 5px 5px 50px; /*top, right, bottom and left*/
	}
}

/*1500*/
@media screen and (max-width: 1500px) {
	#restaurant-container {
		padding: 130px 5px 5px 22px; /*top, right, bottom and left*/
	}
	#reviews-container {
	  	padding: 5px 0px 5px 0px; /*top, right, bottom and left*/
			text-align: center;
	}
	#reviews-list {
		padding: 5px 5px 5px 50px; /*top, right, bottom and left*/
	}
}

/*1350*/
@media screen and (max-width: 1350px) {
	#restaurant-container {
		padding: 130px 5px 5px 22px; /*top, right, bottom and left*/
	}
	#reviews-list {
		padding: 5px 5px 5px 34px; /*top, right, bottom and left*/
	}
}

/*1200*/
@media screen and (max-width: 1200px) {
	.box {
	    max-width: 49%;
	}

	/*restaurant.html*/
	#restaurant-hours {
		min-width: 80%;
	}

	#restaurant-container, #reviews-container {
		min-width: 100%;
	}

	.inside #map-container {
		position: absolute;
		margin: 5px -25px 5px 0px; /*top, right, bottom and left*/
	  height: 20%;
	  width: 100%;
		top: 137px;
	}

	#breadcrumb {
	   width: 100%;
		 text-align: center;
		 padding: 10px 1px 5px 5px; /*top, right, bottom and left*/
	}

	#restaurant-cuisine {
		margin-left:auto;
	 	margin-right:auto;
	}

	#restaurant-hours  {
		width: 50%;
		margin-left:auto;
	  margin-right:auto;
	}

	#restaurant-container  {
	  width: 100%;
		text-align: center;
		padding: 700px 5px 5px 2px; /*top, right, bottom and left*/
	}
	#reviews-list {
		padding: 5px 5px 5px 90px; /*top, right, bottom and left*/
	}
}

/*1025*/
@media screen and (max-width: 1025px) {
	/*Restaurant html*/
	#reviews-list  {
			padding: 0px 0px 0px 60px; /*top, right, bottom and left*/
	}
}
/*880px*/
@media screen and (max-width: 880px) {
	/*Restaurant html*/
	#restaurant-container  {
		padding: 680px 5px 5px 10px; /*top, right, bottom and left*/
	}
	#reviews-list  {
			padding: 0px 0px 0px 57px; /*top, right, bottom and left*/
	}
}
/*700*/
@media screen and (max-width: 700px) {
	/*Restaurant html*/
	#restaurant-container  {
		padding: 671px 5px 5px 0px; /*top, right, bottom and left*/
	}
	#reviews-list  {
			padding: 0px 0px 0px 31px; /*top, right, bottom and left*/
	}
}

/*600px*/
@media screen and (max-width: 600px) {/*it changes but only when the width of the browser reach 497px. Why?*/
	nav h1 a {
	  /* color: #fff; */
	  font-size: 18pt;
	  font-weight: 150;
	  letter-spacing: 1.5px;
	  /* text-transform: uppercase; */
		line-height: 3.7;
	}

	.box {
	    min-width: 100%;
	}

	.filter-options h2 {
	  font-size: 20pt;
	  line-height: 1.0;
	}
	.filter-options select {
	  font-size: 15pt;
	  height: 30px;
	  letter-spacing: 0;
	  margin: 10px;
	  width: 250px;
	}

	/*Restaurant.html*/
	#restaurant-hours {
		min-width: 90%;
	}

	#breadcrumb li {
		font-size: 10pt;
	}

	#breadcrumb {
	 	padding: 10px 35px 5px 5px; /*top, right, bottom and left*/
	}

	.inside #map-container {
		margin: 5px -20px 5px 0px; /*top, right, bottom and left*/
	}

	#reviews-list  {
			padding: 0px 0px 0px 29px; /*top, right, bottom and left*/
	}

}

/*500*/
@media screen and (max-width: 500px) {
	/*Restaurant html*/
	#restaurant-container  {
		padding: 715px 5px 5px 7px; /*top, right, bottom and left*/
	}
	#restaurant-hours {
		min-width: 99%;
	}

	#restaurant-hours td {
		font-size: 11pt;
	}
	#reviews-list  {
			padding: 0px 0px 0px 7px; /*top, right, bottom and left*/
			/* width: 76%; */
	}
}

/*400*/
@media screen and (max-width: 400px) {
	/*Restaurant html*/
	#restaurant-container  {
		padding: 680px 5px 5px 0px; /*top, right, bottom and left*/
	}
	#reviews-list  {
			padding: 0px 0px 0px 5px; /*top, right, bottom and left*/
			/* width: 76%; */
	}
}

/*300px*/
@media screen and (max-width: 330px) {/*it changes but only when the width of the browser reach 497px. Why?*/
	 nav h1 a {
	  font-size: 10pt;
	  letter-spacing: 1px;
		line-height: 6.0;
	}

	.filter-options h2 {
		font-size: 13pt;
		line-height: 1.0;
	}
	.filter-options select {
		font-size: 10pt;
		height: 30px;
		letter-spacing: 0;
		margin: 10px;
		width: 160px;
	}

	.box {
			border-style: none;
	}

	/*resturant.html*/
	#restaurant-container  {
		padding: 805px 0px 5px 0px; /*top, right, bottom and left*/
	}

	#reviews-list  {
			padding: 0px 0px 0px 0px; /*top, right, bottom and left*/
	}

	#reviews-list li {
	  background-color: #fff;
	  /* border: 2px solid #f3f3f3; */
		border: none;
	  padding: 0 0px 0px;
	  width: 98%;
	}


}
